.block-list {
    width: 100%;
    background-color: rgba(252, 217, 129, 0.10);
    border-radius: 20px;
    padding: 10px;
}
.judul-list{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.iken{
    justify-content: center;
}